:root {
  --md-primary-fg-color: #ffffff;
}

.md-typeset h1,
.md-typeset h2 {
  font-weight: 700;
}

.md-typeset .admonition,
.md-typeset details {
  border-radius: 0.5rem;
}

.md-typeset .task-list-item input {
  top: 0.2em;
}

.md-content__inner > p:first-of-type {
  font-size: 1.05rem;
}
